* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: thistle;
}

h1 {
    background-color: rgb(226, 250, 203);
    color: rgb(82, 47, 2);
}

h3 {
    background-color: rgb(240, 238, 155);
    color: rgb(97, 20, 80);
}

h4 {
    background-color: rgb(201, 197, 248);
    color: rgb(35, 71, 49);
}

ul, ol {
    background-color: rgb(225, 235, 207);
    color: cornflowerblue;
}

#title {
    background-color: bisque;
    color: cadetblue;
}

#subtitle {
    background-color: rgb(247, 178, 154);
    color: rgb(1, 160, 120);
}

.list {
    background-color: rgb(218, 217, 170);
    color: seagreen;
}